*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Courier New', 'Monaco', monospace;
    background-color:#000000 ;
    color: aliceblue;
    cursor: url('https://play.vsthemes.org/t-cursors/50966/138daa72d9b1259fcea4c2f9036f90f0.webp'), auto;

    background-image: url('img/cyberffon.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header{
    text-align: center;
    line-height: 2;
    background-color:  #000000;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid;
    border-color:rgb(36, 196, 229);
    padding: 5px;
    color: #ffd700;
}

.content-card{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 8%;
    margin-bottom: 10%;
    padding: 20px;
}

.card{
    background-color:#000000e0;
    width: 430px;
    padding: 20px;
    border-radius: 15px;
    border: 2px, solid rgb(36, 196, 229);
    text-align: center;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 5px 15px rgb(255, 215, 0);
    border: 2px, solid rgb(255, 215,0);

}

.card-img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    margin-bottom: 15px;
    border: #ffd700 solid, 2px;

} 

.card-text{
    margin: 10px 0;
    font-size: 30px;
    color:#ffd700;
}

.card-text-text{
    margin-top: 20px;
    font-size: 20px;
    min-height: 65px;
}

.more{
    display: inline-block;
    margin: 10px;
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    cursor: url('https://play.vsthemes.org/t-cursors/50966/471ab378cf8d4ca5a5f52e68ee61e29f.webp'), auto;

}

.more:hover{
    color: rgb(36, 196, 229);
    text-decoration: none;
}

.button{
    margin-top: 30px;
}

.button-btn{
    width: 80%;
    background: #000000;
    color: #ffd700;
    border: 2px solid rgb(36, 196, 229);
    padding: 10px 22px;
    border-radius: 20px;
    font-family: inherit;
    cursor: url('https://play.vsthemes.org/t-cursors/50966/471ab378cf8d4ca5a5f52e68ee61e29f.webp'), auto;
    transition: 0.3s;
    font-weight: bold;
    font-size: 17px;
}

.button-btn:hover{
    background: #000000;
    border: 3px solid #ffd700;
    color: rgb(36, 196, 229);
    font-weight: bold;
    font-size: 17px;
    padding: 10px 22px;
    border-radius: 20px;
    font-family: inherit;


}



.special-card{
    background-color:#000000e0 ;
    width: 430px;
    padding: 20px;
    border: 2px solid rgb(255, 215, 0);
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.special-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 5px 15px rgb(36, 196, 229);
    border: 2px solid rgb(36, 196, 229);

}

.special-card-img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    margin-bottom: 15px;
    border: rgb(36, 196, 229) solid, 2px;

} 

.special-card-text{
    margin: 10px 0;
    font-size: 30px;
    color:rgb(36, 196, 229);
}

.special-card-text-text{
    margin-top: 20px;
    font-size: 20px;
    min-height: 65px;
}

.special-more{
    display: inline-block;
    margin: 10px;
    color: rgb(36, 196, 229);
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    cursor: url('https://play.vsthemes.org/t-cursors/50966/471ab378cf8d4ca5a5f52e68ee61e29f.webp'), auto;

}

.special-more:hover{
    color:#ffd700 ;
    text-decoration: none;
}

.special-button{
    margin-top: 30px;
}

.special-button-btn{
    width: 80%;
    background: #000000;
    color: rgb(36, 196, 229);
    border: 2px solid rgb(255, 215, 0);
    padding: 10px 22px;
    border-radius: 20px;
    font-family: inherit;
    cursor: url('https://play.vsthemes.org/t-cursors/50966/471ab378cf8d4ca5a5f52e68ee61e29f.webp'), auto;
    transition: 0.3s;
    font-weight: bold;
    font-size: 17px;
}

.special-button-btn:hover{
    background: rgb(0, 0, 0);
    border: 3px solid rgb(36, 196, 229);
    color: #ffd700;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 22px;
    border-radius: 20px;
    font-family: inherit;
    font-weight: bold;
    font-size: 17px;
}

.characteristic{
    background-color: #000000e0;
    border: #ffd700, solid 2px;
    border-radius: 20px;
    padding: 30px;
    margin: 8% 1%;
}

.why-love{
    text-align: center;
    color: rgb(36, 196, 229);
    text-shadow: 0 5px 15px rgb(36, 196, 229);
}

.why-love b{
    color: #ffd700;
    text-shadow: 0 5px 15px rgb(255, 215, 0);

}

.because{
    list-style: none;
    max-width: 600px;
    margin: 0 auto;
}

.because li{
    background: rgba(36, 197, 229, 0.373);
    margin: 15px 0;
    font-size: 18px;
    padding: 20px 20px ;
    border-radius: 15px;
    border-left: 5px solid rgb(36, 196, 229);
}

.because li.love{
    background: rgba(223, 36, 229, 0.373);
    margin: 15px 0;
    font-size: 22px;
    text-align: center;
    padding: 20px 20px ;
    border-radius: 15px;
    border-left: 5px solid rgb(181, 13, 242);
}


.highlight{
    background-color: #ffd90027;
    border: rgb(36, 196, 229), solid 4px;
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto;
    max-width: 600px;

}

.highlight p{
    text-align: center;
    max-width: 600px;
    color: #ffd700;

}


footer{
    background-color: #000000;
    text-align: center;
    margin-top: 60px;
    padding: 30px;
    border-top: #ffd700 solid 2px;

}

.footer-div h4 {
    color: #ffd700;
    margin-bottom: 15px;
}

.footer-div hr{
    width: 100%;
    margin: 30px auto;
    background-color:rgb(36, 196, 229);
    height: 2px;
    border: none;
}

.footer-div p {
    color: #ffd700;
    font-size: 12px;
}




